@{
    ViewData["Title"] = "Login";
}

<div class="container mt-5" id="loginPage">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card bg-dark text-light p-4" id="loginCard">
                <!-- Exibe o logo da barbearia, se disponível -->
                @if (ViewData["BarbeariaLogo"] != null)
                {
                    <div class="text-center mb-3">
                        <div class="logo-container">
                            <img src="@ViewData["BarbeariaLogo"]"
                                 alt="Logo da Barbearia"
                                 class="rounded-circle barbearia-logo-img">
                        </div>
                    </div>
                }

                <!-- Exibe o nome da barbearia dinamicamente -->
                <h3 class="text-center text-danger mb-4" id="loginTitle">Bem-vindo à @ViewData["BarbeariaNome"]</h3>
                <p class="text-center" id="loginInstruction">Por favor, insira seu e-mail ou telefone:</p>

                <form id="loginForm">
                    <div class="form-group mb-4" id="inputContainerLogin">
                        <input type="text" id="inputFieldLogin" name="inputFieldLogin" class="form-control text-center" placeholder="E-mail ou telefone" />
                        <div id="emailAutocompleteLogin" class="autocomplete-box"></div>
                    </div>
                    <div class="form-group mb-4 position-relative" id="passwordInputContainerLogin">
                        <input type="password" id="passwordInputLogin" name="passwordInputLogin" class="form-control text-center" placeholder="Senha" required />
                        <span id="toggleLoginPassword" class="position-absolute" style="right: 15px; top: 50%; transform: translateY(-50%); cursor: pointer;">
                            <i class="fas fa-eye text-secondary"></i>
                        </span>
                    </div>
                    <div id="errorMessageLogin" class="text-danger mt-2" style="display:none;">Por favor, insira um e-mail ou telefone válido.</div>
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-danger btn-block" id="submitButtonLogin">Avançar</button>
                    </div>
                </form>

                <!-- Esqueci a Senha Link -->
                <div class="text-center mt-3">
                    <a href="#" class="text-light" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">Esqueci a senha?</a>
                </div>

                <div class="text-center mt-4">
                    <p class="text-light">Ainda não é membro? <a href="#" class="text-danger" data-bs-toggle="modal" data-bs-target="#registerModal">Se cadastre agora!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Recuperação de Senha -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="forgotPasswordModalLabel">Recuperação de Senha</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <p>Insira seu e-mail cadastrado para recuperar sua senha:</p>
                <form id="forgotPasswordForm">
                    <div class="form-group mb-4">
                        <input type="email" id="forgotPasswordEmail" name="usuarioEmailRecuperar" class="form-control text-center" placeholder="E-mail" required />
                    </div>
                    <div id="forgotPasswordErrorMessage" class="text-danger mt-2" style="display:none;">E-mail não encontrado.</div>
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-danger btn-block">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal de Cadastro -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="registerModalLabel">Cadastro</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <form id="registerForm">
                    <div class="form-group mb-4">
                        <input type="text" id="nameInput" name="nameInput" class="form-control text-center" placeholder="Nome" required />
                    </div>
                    <div class="form-group mb-4">
                        <input type="email" id="registerEmailInput" name="registerEmailInput" class="form-control text-center" placeholder="E-mail" required />
                        <div id="registerEmailAutocomplete" class="autocomplete-box position-absolute"></div>
                    </div>
                    <div class="form-group mb-4">
                        <input type="text" id="registerPhoneInput" name="registerPhoneInput" class="form-control text-center" placeholder="Telefone" required />
                    </div>
                    <div class="form-group mb-4 position-relative">
                        <input type="password" id="registerPasswordInput" name="passwordInput" class="form-control text-center" placeholder="Senha" required />
                        <span id="toggleRegisterPassword" class="position-absolute" style="right: 15px; top: 50%; transform: translateY(-50%); cursor: pointer;">
                            <i class="fas fa-eye text-secondary"></i>
                        </span>
                    </div>
                    <div class="form-group mb-4 position-relative">
                        <input type="password" id="confirmPasswordInput" name="confirmPasswordInput" class="form-control text-center" placeholder="Confirme a Senha" required />
                        <span id="checkIcon" class="position-absolute check-icon" style="display: none;">
                            <i class="fas fa-check text-success"></i>
                        </span>
                        <span id="toggleConfirmPassword" class="position-absolute" style="right: 15px; top: 50%; transform: translateY(-50%); cursor: pointer;">
                            <i class="fas fa-eye text-secondary"></i>
                        </span>
                        <div id="passwordMatchError" class="text-danger mt-2" style="display:none;">A senha digitada está diferente.</div>
                    </div>

                    <div class="mb-4">
                        <p class="mb-1 text-center">A senha deve conter:</p>
                        <ul id="passwordRequirements" class="list-unstyled text-center">
                            <li id="lengthRequirement" class="text-danger">• Pelo menos 8 caracteres</li>
                            <li id="uppercaseRequirement" class="text-danger">• Uma letra maiúscula (A-Z)</li>
                            <li id="lowercaseRequirement" class="text-danger">• Uma letra minúscula (a-z)</li>
                            <li id="numberRequirement" class="text-danger">• Um número (0-9)</li>
                            <li id="specialRequirement" class="text-danger">• Um caractere especial (!&#64;#$%^&*)</li>
                        </ul>
                    </div>
                    <div id="registerErrorMessage" class="text-danger mt-2" style="display:none;">Erro ao registrar.</div>
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-danger btn-block">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal de Verificação de Código (para cadastro e login) -->
<div class="modal fade" id="verificationModal" tabindex="-1" aria-labelledby="verificationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="verificationModalLabel">Verificação de Código</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <p>Um código foi enviado para o seu email. Por favor, insira-o abaixo:</p>
                <p id="countdownText">Você poderá solicitar um novo código em: <span id="countdownTimer">30</span> segundos.</p>
                <form id="verificationForm">
                    <input type="hidden" id="clienteIdField" name="clienteId" value="">

                    <div class="form-group mb-4">
                        <input type="text" id="codigo" name="codigo" class="form-control text-center" placeholder="Código de Verificação" required />
                    </div>
                    <div id="codeErrorMessage" class="text-danger mt-2" style="display:none;">Código inválido.</div>
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-danger btn-block">Verificar</button>
                    </div>
                </form>
                <div class="text-center mt-3">
                    <p id="resendCodeLink" style="display: none;">Não recebeu o código? <a href="#" id="resendCode">Reenviar</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loadingSpinner" style="display:none;">
    <div class="spinner-border text-danger" role="status">
        <span class="sr-only">Carregando...</span>
    </div>
    <p class="mt-2">Carregando...</p>
</div>

<!-- Toast de Erro -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="loginErrorToast" class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true" style="display: none;">
        <div class="d-flex">
            <div class="toast-body"></div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Fechar"></button>
        </div>
    </div>
</div>

@if (TempData["LoginError"] != null)
{
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="loginErrorToast" class="toast align-items-center text-white bg-danger border-0 show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    @TempData["LoginError"]
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Fechar"></button>
            </div>
        </div>
    </div>
}
